<h2>Reactivos: <small>Switches</small></h2>
<hr>

<form autocomplete="off">
    <div class="mb-3 row">
        <label for="genero" class="col-sm-2 col-form-label">Género</label>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="radio" value="M" name="genero" id="masculino">
                <label class="form-check-label" for="masculino">Masculino</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="F" name="genero" id="femenino">
                <label class="form-check-label" for="femenino">Femenino</label>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="genero" class="col-sm-2 col-form-label">Notificaciones</label>
        <div class="col-sm-10">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" type="checkbox" role="switch" name="notificationes" id="notificaciones">
                <label class="form-check-label" for="notificaciones">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="terminos-condiciones"
                    id="terminos-condiciones">
                <label class="form-check-label" for="terminos-condiciones">Términos y condiciones de uso</label>
            </div>
        </div>
    </div>
    <div class="float-end">
        <button type="submit" class="btn btn-primary mb-3">Guardar</button>
    </div>
</form>