<h2>Reactivos: <small>Dinámicos</small></h2>
<hr>

<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="mb-3 row">
        <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
            <span class="form-text text-danger" *ngIf="campoNoEsValido('nombre')">Este campo esobligatorio</span>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="agregar" class="col-sm-2 col-form-label">Agregar</label>
        <div class="col-sm-10">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Agregar favorito" [formControl]="nuevoFavorito" (keyup.enter)="agregarFavorito()">
                <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()">Agregar</button>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="nombre" class="col-sm-2 col-form-label">Favoritos</label>
        <div class="col-sm-10" formArrayName="favoritos">
            <div class="input-group mb-1" *ngFor="let favorito of favoritosArr.controls; let i = index;">
                <input type="text" class="form-control" aria-label="favorito" [formControlName]="i">
                <button class="btn btn-outline-danger" type="button">Eliminar</button>
            </div>
        </div>
    </div>
    <div class="float-end">
        <button type="submit" class="btn btn-primary mb-3">Guardar</button>
    </div>
</form>

<strong>Valid</strong>
<pre>{{ miFormulario.valid }}</pre>

<strong>Value</strong>
<pre>{{ miFormulario.value | json }}</pre>

<strong>Agregar juego</strong>
<pre>{{ nuevoFavorito.valid }}</pre>

<strong>Agregar juego - value</strong>
<pre>{{ nuevoFavorito.value }}</pre>