<h2>Reactivos: <small>Dinámicos</small></h2>
<hr>

<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="mb-3 row">
        <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
            <span class="form-text text-danger" *ngIf="campoNoEsValido('nombre')">Este campo esobligatorio</span>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="agregar" class="col-sm-2 col-form-label">Agregar</label>
        <div class="col-sm-10">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Agregar favorito">
                <button class="btn btn-outline-primary" type="button">Agregar</button>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="nombre" class="col-sm-2 col-form-label">Favoritos</label>
        <div class="col-sm-10">
            <div class="input-group mb-1">
                <input type="text" class="form-control" aria-label="favorito">
                <button class="btn btn-outline-danger" type="button">Eliminar</button>
            </div>
        </div>
    </div>
    <div class="float-end">
        <button type="submit" class="btn btn-primary mb-3">Guardar</button>
    </div>
</form>