<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">
            <div class="mb-3 row">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" id="nombre" class="form-control" formControlName="nombre">
                    <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">Debe de ser en formato de nombre y apellido</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" id="email" class="form-control" formControlName="email">
                    <span class="form-text text-danger" *ngIf="campoNoValido('email')">{{ emailErrorMsg }}</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" id="username" class="form-control" formControlName="username">
                    <span class="form-text text-danger" *ngIf="campoNoValido('username')">El username no puede ser strider</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" id="password" class="form-control" formControlName="password">
                    <span class="form-text text-danger" *ngIf="campoNoValido('password')">La contraseña debe ser mayor de  6 caracteres</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password-confirm" class="col-sm-2 col-form-label">Confirmar</label>
                <div class="col-sm-10">
                    <input type="password" id="password-confirm" class="form-control" formControlName="password-confirm">
                    <span class="form-text text-danger" *ngIf="campoNoValido('password-confirm')">Las contraseñas deben de ser iguales</span>
                </div>
            </div>
            <div class="float-end">
                <button type="submit" class="btn btn-primary mb-3" [disabled]="miFormulario.pending">Guardar</button>
            </div>
        </form>
    </div>
</div>

<strong>Form Valid</strong>
<pre>{{ miFormulario.valid }}</pre>

<strong>Form Status</strong>
<pre>{{ miFormulario.status }}</pre>

<strong>Form Pending</strong>
<pre>{{ miFormulario.pending }}</pre>

<strong>Form Errors</strong>
<pre>{{ miFormulario.errors | json }}</pre>

<strong>Nombre</strong>
<pre>{{ miFormulario.controls['nombre'].errors | json }}</pre>

<strong>Email</strong>
<pre>{{ miFormulario.controls['email'].errors | json }}</pre>

<strong>Username</strong>
<pre>{{ miFormulario.controls['username'].errors | json }}</pre>

<strong>Password</strong>
<pre>{{ miFormulario.controls['password'].errors | json }}</pre>

<strong>Password Confirm</strong>
<pre>{{ miFormulario.controls['password-confirm'].errors | json }}</pre>